body{
    background-color: rgb(7, 1, 1);
    color: white;
    opacity: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    /* background-color: rgb(7, 1, 1); */
    height: 70px;
    color: white;
    align-items: center;
}
nav{
    margin: 2% auto auto 25%;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    column-gap: 9%;
    
}

#hometext{
    text-decoration: none;
    color: white;

}

#abouttext{
    text-decoration: none;
    color: white;
}

#contacttext{
    text-decoration: none;
    color: white;
}
.buttn{
    background-color: rgb(84, 179, 243);
    border: none;
    border-radius: 5px;
    height: 30px;
}

.image_about{
    border-radius: 100%;
    width: 20%;
    height: 250px;
}


#biography{
    display: grid;
    grid-template-columns: 65%;
    margin: auto auto auto 300px;
    
}

.title{
    color:  rgb(84, 179, 243);
}

.subtitle{
    color:  rgb(84, 179, 243);
}

#biography2{
    display: grid;
    grid-template-columns: auto;
}